.aboutHeading {
    text-align: center;
    margin-top: 60px;
    color: #b71c1c;
    font-size: 20px;
    font-weight: bold;
}

.aboutContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1100px;
    margin: 60px auto;
    padding: 0 30px;
    gap: 40px;
}

.aboutText {
    flex: 1;
}

.aboutText h2 {
    color: #b71c1c;
    margin-top: 25px;
    text-align: center;
    font-size: 30px;
}

.aboutText p {
    margin-top: 10px;
    text-align: justify;
    font-size: large;
    line-height: 1.6;
}

.aboutText ul {
    margin-top: 15px;
    padding-left: 20px;
}

.aboutText li {
    margin-bottom: 8px;
    font-size: large;
    line-height: 1.4;
}

.aboutImage img {
    width: 380px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .aboutContainer {
        flex-direction: column;
        margin: 30px auto;
        padding: 0 20px;
        gap: 20px;
    }

    header h1 {
        margin-right: 0;
        margin-left: 0;
        text-align: center;
    }

    .aboutText h2 {
        font-size: 24px;
        text-align: left;
    }

    .aboutText p,
    .aboutText li {
        font-size: 16px;
    }

    .aboutImage img {
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
        display: block;
    }
}