html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.login-container {
    flex: 1;
    background-color: #febfbf;
    padding: 60px 15px;
}

form {
    background-color: #b71c1c;
    color: white;
    padding: 40px;
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(255, 0, 0, 0.4);
}

form h2 {
    margin-top: 0;
    text-align: center;
}

form p {
    text-align: center;
    margin-bottom: 20px;
    font-size: 14px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0 15px 0;
    border: 1px solid #ffcccc;
    border-radius: 5px;
    background-color: #fff0f0;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    margin-bottom: 15px;
}

.options a {
    color: #ffd6d6;
    text-decoration: none;
}

.options a:hover {
    text-decoration: underline;
}

.login-button {
    width: 100%;
    padding: 10px;
    background-color: white;
    color: #b71c1c;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #f8d7da;
}

.register {
    text-align: center;
    font-size: 13px;
    margin-top: 15px;
}

.register a {
    color: #ffd6d6;
    text-decoration: none;
}

.register a:hover {
    text-decoration: underline;
}

footer {
    background-color: rgb(122, 1, 1);
    color: white;
    text-align: center;
    padding: 5px;
    width: 100%;
}
